.App {
  text-align: center;
  font-size: 5rem;
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.app-playground {
  width: 50rem;
  height: 50rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.control-buttons {
  display: flex;
  justify-content: space-around;
}
.app-playground .control-btn {
  width: 10rem;
  height: 5rem;
  color: white;
  font-weight: bold;
  color: white;
  background-color: green;
  border-radius: 1rem;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
}
